<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>788979235407-7u0tvc8dvsokvv0cqnf6i462tv8g2t8n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.788979235407-7u0tvc8dvsokvv0cqnf6i462tv8g2t8n</string>
	<key>API_KEY</key>
	<string>AIzaSyCyfwi8U7S7f6eVPvm1wNgKM-7KVQ22xXk</string>
	<key>GCM_SENDER_ID</key>
	<string>788979235407</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tushar.todolistFirebase</string>
	<key>PROJECT_ID</key>
	<string>todo-list-firebase-80152</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-list-firebase-80152.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:788979235407:ios:326b6d6d6c0ef78a65883a</string>
	<key>DATABASE_URL</key>
	<string>https://todo-list-firebase-80152.firebaseio.com</string>
</dict>
</plist>